<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="fav icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-light">

    <!-- alert box -->
    <div class="alert d-none w-50 fixed-top opacity-75 fade mx-auto p-1 mt-2 d-flex justify-content-center align-content-center"
        role="alert" id="alertBox">
        <p class="text-center mt-3" id="alertText">alert text</p>
    </div>


    <!-- signup form -->
    <div class="container-lg bg-light d-flex justify-content-between flex-column align-items-center mx-auto my-3 p-3">
        <form class="p-5 pt-4 pb-2 shadow rounded mt-5" id="submitForm">
            <h1 class="text-primary mb-4 mt-0">Login</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" aria-label="username"
                    aria-describedby="basic-addon1" id="username">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" aria-label="password"
                    aria-describedby="basic-addon1" id="password">
            </div>
            <input class="btn btn-primary mt-3 w-100" value="Login" id="btnLogin">
            <a href="#"
                class="text-primary mt-4 mb-3 mx-auto link-light text-decoration-none d-flex justify-content-center fs-4">Forgot
                your password?</a>
            <hr class="text-light">
            <a href="http://localhost:5013/auth/signup" class="btn btn-success mt-3 mb-3 w-100"
                value="Create Account">Create Account</a>
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<script src="/js/alert.js"></script>
<script src="/js/login.js"></script>

</html>